GOOSE_DRIVER=postgres

# migrate snap
GOOSE_MIGRATION_DIR=./migrations/snap
GOOSE_DBSTRING="postgres://<username>:<password>@<host>:<port>/<dbname>?search_path=snap"
GOOSE_DBVERSION_TABLE=snap.goose_db_version

# migrate merchant
GOOSE_MIGRATION_DIR=./migrations/merchant
GOOSE_DBSTRING="postgres://<username>:<password>@<host>:<port>/<dbname>?search_path=merchant"
GOOSE_DBVERSION_TABLE=merchant.goose_db_version